$icomoon-font-path: "../../fonts/icomoon" !default;

$icon-phone: \e942;
$icon-envelop: \e945;
$icon-menu: \e9bd;
$icon-facebook: \1f32b;
$icon-instagram: \ea92;
$icon-twitter: \ea96;
$icon-youtube: \ea9d;
